// Margins
.ms-30 {
    margin-left: 30px;
}

// Paddings
.p-20x10 {
    padding: 10px 20px;
}

// Dimensions
.mxw-100 {
    max-width: 100%;
}

// Display
.d-flex {
    display: flex;
}

.flex-align-center {
    align-items: center;
}